/* finished! */
body {
    background-image: url(../img/circuit.png);
}
.container {
    background-color: #E6E6E6;
    text-align: center;
    width: 600px;
    border: 8px double burlywood;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}

#click-section {
    padding-top: 20px;
}

#click {
    padding: 10px;
    background-color: burlywood;
    margin: 0 auto;
    width: 200px;
    border-radius: 8px;
}

h1 {
    font-size: 30px;
}

h2 {
    padding: 10px;
    font-size: 20px;
}

p {
    padding: 20px;
    margin: 0 auto;
}

#autoclicker, #speedup, #super {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

#auto, #speed, #duper {
    padding: 10px;
    background-color: #F6F6F6;
    width: 150px;
    border-radius: 8px;
}